*
    margin: 0
    padding: 0
.title
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    padding: 40px
    .h2-about
        font-family: "Roboto", sans-serif 
        font-size: 16px
        color: #71717a92
    .p-class
        font-family:"Amatic SC", sans-serif
        font-size: 48px
        span
            color: #ce1212

.about
    display: flex
    align-items: center
    justify-content: space-around
    .img-about
        img
            width: 750px
            height: 480px
            margin: 0px 0px 24px
    .cadre-about
        border: 4px solid #212529

        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        padding: 22px
        gap: 2vh
        h1
            font-family: "Roboto", sans-serif
            font-size: 24px
        p
            color:#ce1212 
            font-size:  28px
            font-family: "Roboto", sans-serif
    .rightimg-side
        
        flex-direction: column
        .p-one
            margin: 0px 0px 16px
            font-family: "Roboto", sans-serif 
            font-size: 16px
            color: #adb5bdaf
        ul
            li
                padding: 0px 0px 10px 30px 
                font-family: "Roboto", sans-serif
                font-size: 16px
        .p-two
            font-size: 16px
            font-family: "Roboto", sans-serif 
            margin: 0px 0px 16px
    .img-about2
        img
            width: 460px
            height: 370px
            
.into-about
    .cards
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-around
        background-color:  #c1cad24f
        padding: 25px
        .card1
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            padding: 0px 15px
            color: white
            background-color: #ce1212
            height: 350px
            width: 420px
            margin: 24px 0px 0px
            font-family: "Roboto", sans-serif
            gap: 4vh
            
            h3
                font-family: "Roboto", sans-serif
                font-size: 31px
                a
                    display: flex
                    align-items: center
                    justify-content: center
            .btn-learn
                border-radius: 50px
                font-size: 16px
                font-family: "Roboto", sans-serif
                padding: 8px 30px 10px
                background-color: #adb5bd7c
                display: flex
                justify-content: center
                align-items: center
                width:170px
                height: 30px
            
        .card2
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            padding: 0px 15px
            color: black
            border: none
            background-color: white
            height: 350px
            width: 250px
            margin: 24px 0px 0px
            font-family: "Roboto", sans-serif
            gap: 4vh
        .card3
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            padding: 0px 15px
            color: black
            border: none
            background-color: white
            height: 350px
            width: 250px
            margin: 24px 0px 0px
            font-family: "Roboto", sans-serif
            gap: 4vh
        .card4
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            padding: 0px 15px
            color: black
            border: none
            background-color: white
            height: 350px
            width: 250px
            margin: 24px 0px 0px
            font-family: "Roboto", sans-serif
            gap: 4vh
    .img-cards
        img
            
        .content
            display: flex
            align-items: center
            justify-content: space-around
            flex-direction: row
            font-family:  "Roboto", sans-serif
            margin: -250px -20px 0px
        
            .span
                display: flex
                align-items: center
                justify-content: center
                flex-direction: column
                gap: 3vh
                
                
                span
                    font-size: 48px
                    font-weight: bold
                    color: white
                p
                    font-size: 18px
                    color: #adb5bd84

            
                
            
        
            
            
        
            
